@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
	display: none;
}
.bg-custom {
	background: #262437;
	background-image: url("./img/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
}
.bg-black {
	background: #000;
}
.text-pink {
	color: #d63384;
}
.bg-pink {
	background: #d63384;
}
.text-orange {
	color: #fd7e14;
}
.text-teal {
	color: #20c997;
}
img,
.collapse,
#mainNav,
.navbar-shrink,
.navbar-brand,
.nav-link {
	transition: 1s ease;
}
#mainNav.navbar-shrink {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
#mainNav.navbar-shrink .navbar-brand {
	font-size: 1.5em;
	font-weight: 500;
	color: #0dcaf0 !important;
}
.nav-item .active {
	color: #6610f2 !important;
	font-weight: 600;
}
.navbar-brand {
	color: #6f42c1 !important;
}
.foto-profil {
	filter: grayscale(20%) brightness(80%);
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	transition: 1s;
}
.fotowarna {
	filter: grayscale(10%) brightness(90%);
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	transition: 1s;
	object-fit: cover;
	object-position: 0 20%;
	width : 14.375rem;
	height: 14.375rem;
}
.qrcode {
	height: auto;
	width : 20rem;
}
.teks {
	text-shadow: 5px 5px 9px #000;
}
.paragraf {
	text-indent : 2.1875rem;
}

.study .study-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #050d18;
}
.study .study-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}
.study .study-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #050d18;
	margin-bottom: 10px;
}
.study .study-item h5 {
	font-size: 16px;
	background: #e4edf9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
}
.study .study-item ul {
	padding-left: 20px;
}
.study .study-item ul li {
	padding-bottom: 10px;
}
.study .study-item:last-child {
	padding-bottom: 0;
}
.study .study-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #fff;
	border: 2px solid #1f5297;
}
.card-img-top {
	width: auto;
	object-fit: cover;
	object-position: center;
}
textarea[name="message"] {
	height: 7.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.foto-profil {
		height: 140px;
		width: 140px;
	}
	.card-img-top {
		height: 12rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.foto-profil {
		height: 140px;
		width: 140px;
	}
	.card-img-top {
		height: 12rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.foto-profil {
		height: 150px;
		width: 150px;
	}
	.card-img-top {
		height: 15rem;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.foto-profil {
		height: 190px;
		width: 190px;
	}
	#shortcutlink {
		display: none;
	}
	.card-img-top {
		height: 17rem;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.foto-profil {
		height: 190px;
		width: 190px;
	}
	#shortcutlink {
		display: none;
	}
	.card-img-top {
		height: 20rem;
	}
}